#header {
  background-color: rgb(235, 235, 235);
  display: flex;
  align-items: center;
}

img {
  object-fit: cover;
}

.webHead {
  font-family: monospace;
  font-stretch: 50;
  font-weight: bolder;
  font-size: 300%;
  color: #665857;
  text-align: right;
  padding-right: 40px;
  flex-basis: 220%;
  margin-bottom: -40px
}


.headAccent {
  color: #FCDBAC;
  font-size: 290%;
  background-color: #FAA1A4;
  padding-right: 40px
}

nav {
  background-color: #F2BB58;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

nav a {
  float: left;
  display: block;
  color: #665857;
  text-align: center;
  padding: 15px 40px;
  text-decoration: none;
  font-size: 17px;
}

nav a:hover {
  background-color: #FCDBAC;
  color: #665857;
}

.bowiesMapped {
  display:flex;
  justify-content: center;
  padding: 40px;
  flex-wrap: wrap;
}

.subHeader {
  text-align: center;
  font-weight: bold
}

.bowieThumbs {
  width: 200px;
  height: 200px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;

}

.singleContainer {
  display: flex;
  background-color: red;
}

.topContainer {
  display: flex;
  padding: 50px;
  align-items: center;
}

.titleCol {
  flex-grow: 0;
}

.descripCol {
  flex-grow: 5
}

.loading {
  text-align: center;
}

.bowiegif {
  width: 400px;
  height: 400px
}

.imageLarge {
  width: 400px;
  height: 400px;
}

.mainContainer {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 40px;
  text-align: center;
}
.description {
  padding: 40px
}
