#header {
  background-color: rgb(235, 235, 235);
  display: flex;
  align-items: center;
}

.webHead {
  font-family: monospace;
  font-stretch: 50;
  font-weight: bolder;
  font-size: 300%;
  color: #665857;
  text-align: right;
  padding-right: 40px;
  flex-basis: 220%;
  margin-bottom: -40px
}


.headAccent {
  color: #FCDBAC;
  font-size: 290%;
  background-color: #FAA1A4;
  padding-right: 40px
}

nav {
  background-color: #F2BB58;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

nav a {
  float: left;
  display: block;
  color: #665857;
  text-align: center;
  padding: 15px 40px;
  text-decoration: none;
  font-size: 17px;
}

nav a:hover {
  background-color: #FCDBAC;
  color: #665857;
}

.bowiesMapped {
  display:flex;
  align-content:center;
  padding: 40px;
}

.bowieThumbs {
  width: 200px;
  height: 100%;
  padding: 20px;
}

.singleContainer {
  display: flex;
  background-color: "red";
}

.titleCol {
  display: flex;
  background-color: "blue";
}

.loading {
  text-align: center;
}
